/* landing.css */

/* Styles for the main container */
.landing-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /* Styles for the banner container */
  .landing-home-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Change width to 100% */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    position: relative; /* Add relative positioning to create a context for absolute positioning */
  }
  
  /* Styles for the banner image container (right side) */
  .landing-home-bannerImage-container {
    flex: 1;
    text-align: right; /* Align the banner image to the right */
    position: relative; /* Add relative positioning to create a cont ext for absolute positioning */
  }
  
  /* Styles for the banner image */
  .landing-home-bannerImage-container img {
    width: 100%;
    height: auto;
  }
  
  /* Styles for the text section (centered) */
  .landing-home-text-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
  }
  
  /* Styles for the primary heading with increased font size */
  .landing-primary-heading {
    text-align: left;
    font-size: 5.5rem; /* Increase the font size */
    font-weight: bold;
    color: rgb(47, 47, 47);
    margin-bottom: 20px;
    padding-left: 30%;
  }
  
  /* Styles for the primary text with increased font size */
  .landing-primary-text {
    text-align: left;
    font-size: 2.4rem; /* Increase the font size */
    margin-bottom: 30px;
    padding-left: 30%;
  }
  
  /* Styles for the secondary button */
  .landing-secondary-button {
    background-color: hsl(142, 76%, 36%);
    color: #fff;
    width: 180px;
    padding: 15px 35px; /* Increase the padding for a bigger button */
    font-size: 2rem;
    border: none;
    border-radius: 25px; /* Make the button edges round */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0; /* Remove left margin */
    align-self: flex-start; /* Align button with text */
    margin-left: 30%;
  }
  
  .landing-secondary-button:hover {
    background-color: hsl(142, 72%, 29%);
  }
  
  /* Styles for the decorative image */
  .landing-decor {
    position: absolute; /* Position absolutely within the relative container */
    right: 10%; /* Place at the right of the container */
    top: 25% ;
    height: 85%;
    width: 85%;
  }
  