/* CSS file */
body {
  background-color: rgb(244, 240, 240);
}
.submitted-prop-card{
  background-color: white;
  width: 200px;
  height: 100px;
  margin-top: 100px;
  text-align: center;
}

.post-card {
  width: 600px;
  margin: 90px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.post-form-group {
  margin-bottom: 15px;
}

.post-form-group label {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: black;
}

.post-form-group input,
.post-form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.post-form-group input[type="checkbox"] {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.post-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #0056b3;
}

/* CSS for buttons */
.prop-card {
  position: relative;
}

.prop-card-button {
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.view-propcard-button{
  background-color: rgba(33, 33, 255, 0.742);
  margin-top: 10px;
  color: white;
  width: 100px;
  outline-color: none;
}

.view-propcard-button:hover :focus{
  background-color: rgba(33, 33, 255, 0.611);
  outline-color: none;
}

.approve-button,
.decline-button {
  width: auto;
  margin: 20px;
  width: 100px;
  color: #ffffff;
}

.approve-button {
  background-color: #28a745;
  margin-right: 5px;
}

.decline-button {
  background-color: #dc3545;
}

.approve-button :focus{
  background-color: #28a746ac;
}

.prop-card-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}


