.signup-container {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  box-sizing: border-box;
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
}

.signup-container h1 {
  text-align: center;
  color: rgb(49, 49, 49);
}

.signup-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-container label {
  color: rgb(49, 49, 49);
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-container input {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.signup-container button {
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.signup-container .error {
  color: red;
  margin-bottom: 10px;
}

.signup-container span {
  color: rgb(49, 49, 49);
}

.signup-container a {
  color: #007bff;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}
